.icons {
    width: 18px;
    height: 18px;
}

.payment-icons {
    width: 47px;
    height: 45px;
}

.payment-icons-checkbox {
    margin-top: 15px;
}

.drop-shadow {
    /* filter: drop-shadow(0 0  20px #121212); */
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 28px;
}
.detail-image{
    width: 300px;
    height: 300px;
    margin-top: 47px;
}

.card-img {
    max-height: 200px;
}
.box{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#question {
    cursor: pointer;
}

#register-container {
    margin-top: 100px;
    display: none;
}

#login-container {
    margin-top: 100px;
    display: block;
}

#card-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}